textarea, input {
  border: none;
  resize: none;
  background-color: white;
  font-size: 30px;
  font-family: Courier New;
  outline: none;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
