Flask
Flask-WTF
Flask-SQLAlchemy
flask-login
Fabric
psycopg2
pycrypto
google-api-python-client


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
