Flask
Flask-WTF
Flask-SQLAlchemy
flask-login
Fabric
psycopg2
pycrypto
google-api-python-client
alembic


# ----------------------
# Testing
# ----------------------
mock
nose

# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
