Flask
Flask-WTF
Flask-SQLAlchemy
flask-login
Fabric

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
