{% extends "base.html" %}

{% block header %}
<div class="nav">
    <ul>
        <li class="block"><a href = "reading" class="block" href="#"><img src="../static/images/64x64.png" class="logo"></img>BardHop</a></li>
        <li class="write"><a href="writing">Write</a></li>
        <li class="read"><a href="reading">Read</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
<script type="text/babel">
class UserSetting extends React.Component { constructor() { super(); } render(){ var {picture, name} = this.props; return(
                            <div>
                                <h1 className="usn-name">{name}</h1>
                            </div>) } } ReactDOM.render(

                            <UserSetting picture="../static/images/riff.jpg" name="{{firstname}}" />, document.getElementById('user-setting'));
</script>

{% endblock %}
