{% extends "basewithnav.html" %}
<!DOCTYPE html>
<head>
  <title>BardHop-DashBoard</title>
</head>
<html>

{%block content%}


<article>

                          <form align="right" action="/logout">
                            <label class="lob">
                              <input type="submit" value="Log Out"></input>
                          </label>
                        </form>
    <div class="cover">
        <div id="d_board"></div>
    </div>
    {% endblock %}
</article>

</html>
