<!DOCTYPE html>
{% extends "base.html" %}
<head>
  <title>BardHop</title>
</head>
{% block content %}
<body>
<div className="cover">
    <div id="landing-page">
    </div>
</div>
</body>
{% endblock %}

{% block footer %}
<div className="container">
    <ul>
        <li><a href="mailto:admin@bardhop.com">Contact</a></li>
    </ul>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$('a.flipper').click(function(){
    $('.flip').toggleclassName('flipped');
});
</script>
{% endblock %}
