<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="ladnding_article">
    <div id="login">
        <div class="flip">
            <div class="form-signup">
                <h2>Sign Up</h2>
                <h3>read and write from thousands of prompts.
                    <div class="break"></div></h3>
                <fieldset>
                    <p class="login-msg">Please include 5 cents for good luck.</p>
                    <form action="/signup" method="POST">
                        <input type="email" name="email" placeholder="Email" required />
                        <input type="password" name="password" placeholder="Password" required />
                        <input type="text" name="firstname" placeholder="First Name" required />
                        <input type="text" name="lastname" placeholder="Last Name" required />
                        <input type="submit" value="Sign up" />
                    </form>
                    <a href="#" class="flipper">Already signed up? Log in.</a>
                </fieldset>
            </div>
            <div class="form-login">
                <h1>Log in</h1>
                <fieldset>
                    <form action="/login" method="POST">
                        <input type="email" name = "email" placeholder="Enter your email address" required />
                        <input type="password" name = "password" placeholder="Enter your password" required />
                        <input type="submit" value="Log in" />
                    </form>
                    <a href="#" class="flipper">Not signed up? Create an account.</a><br>

                    <a href="#">Forgot Password?</a>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="front">
        <h1>bardhop</h1>
        <p>a new story everyday</p>
    </div>
</div>
{% endblock %}

{% block footer %}
    <div class="container">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/terms">Terms</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $('a.flipper').click(function(){
        $('.flip').toggleClass('flipped');
    });
</script>
{% endblock %}
