<!DOCTYPE html>
<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/reading.css">
    <link rel="stylesheet" href="../static/css/promptSelection.css">
    <title>Home - Bluebook</Title>
    <script src="https://fb.me/react-15.2.0.js"></script>
    <script src="https://fb.me/react-dom-15.2.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.0.0/screenfull.js"></script>
</head>

<body>
    <div class="nav">
        <ul>
            <li class="block" <a class="block" href="#"><img src="../static/images/64x64.png" class="logo"></img>BlueBook</a>
            </li>
            <li class="home"><a href="#">Read</a></li>
            <li class="about"><a class="active" href="#">Write</a></li>
            <li class="messages">
                <div class="dropdown">
                    <div id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                        <i class="glyphicon glyphicon-bell"></i>
                    </div>

                    <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

                        <div class="notification-heading">
                            <h4 class="menu-title">Notifications</h4>
                            <h4 class="menu-title pull-right">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
                        </div>
                        <li class="divider"></li>
                        <div class="notifications-wrapper">

                        </div>
                        <li class="divider"></li>
                        <div class="notification-footer">
                            <h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></div>
                    </ul>

                </div>
                <li>
                    <ul>
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <div id="user-setting"></div>
                                </button>
                                <div class="dropdown-content">
                                    <a href="#">My Page</a>
                                    <a href="#">Settings</a>
                                    <a href="#">Logout</a>
                                </div>
                            </div>
                        </li>
                        <script type="text/babel">
                            class UserSetting extends React.Component { constructor() { super(); } render(){ var {picture, name} = this.props; return(
                            <div>
                                <h1 className="usn-name">{name}</h1>
                            </div>) } } ReactDOM.render(

                            <UserSetting picture="../static/images/riff.jpg" name="Max" />, document.getElementById('user-setting'));
                        </script>
                    </ul>
                </li>
        </ul>
    </div>

    <div class="cover">
        <div class="prompt-choices" id="prompt-selection"></div>
        <div class ="more">
          <a class = "more" href="#"><p class="more">More prompts  <i class="fa fa-arrow-right" aria-hidden="true"></i></p></a>
        </div>

    </div>
    <script type="text/babel">
        class PromptChoices extends React.Component{ constructor(){ super() } render(){ var{promptIntro,promptTest,genre,word} = this.props; return(
        <div>
            <h1 className="promptOfTheDay">{promptIntro}</h1>
            <div className="selectionBox">
                <div className="promptInfo">
                    <div className="p-box">{promptTest}</div>
                    <h1 className="genre">{genre}</h1>
                    <h1 className="wordLimit">{word}</h1>
                </div>
                <div className="promptInfo">
                    <div className="p-box">{promptTest}</div>
                    <h1 className="genre">{genre}</h1>
                    <h1 className="wordLimit">{word}</h1>
                </div>
                <div className="promptInfo">
                    <div className="p-box">{promptTest}</div>
                    <h1 className="genre">{genre}</h1>
                    <h1 className="wordLimit">{word}</h1>
                </div>
            </div>



        </div>
        ) } } ReactDOM.render(

        <PromptChoices genre="Fiction" word= "No word limit" promptIntro="Prompt of the Day" promptTest=" Instead of Oceans, they are all big forests, that gets taller and darker instead of deeper, with more dangerous animals living further out in the forest. A person decides to cross the Mariana Trench. "
        />, document.getElementById('prompt-selection'));


    </script>

</body>
