<!DOCTYPE html>
<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/reading.css">
    <link rel="stylesheet" href="../static/css/promptSelection.css">
    <title>Prompt of the Day</Title>
    <script src="https://fb.me/react-15.2.0.js"></script>
    <script src="https://fb.me/react-dom-15.2.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.0.0/screenfull.js"></script>
</head>

<body>

  <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new_prompt" data-original-title>
          addprompt
        </a>

  <div class="container">
      <div class="row">
          <div class="modal fade" id="new_prompt" tabindex="-1" role="dialog" aria-labelledby="promptLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="panel panel-primary">
                      <div class="panel-heading">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="panel-title" id="promptLabel">Suggest a Prompt</h4>
                      </div>
                      <form action="/addprompt" method="post" accept-charset="utf-8">
                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                  <textarea id="add-prompt" style="resize:vertical;" class="form-control" placeholder="Prompt..." rows="6" name="prompt" required></textarea>
                              </div>
                              <div class="sub-but">
                                  <input id="prompt-sub" type="submit" class="btn" value="Submit">
                                  <button type="button" class="btn" data-dismiss="modal">Close</button>
                              </div>
                          </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <button

</body>

</html>
