<!DOCTYPE html>
<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/reading.css">
    <title>Home - Bluebook</Title>
    <script src="https://fb.me/react-15.2.0.js"></script>
    <script src="https://fb.me/react-dom-15.2.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.0.0/screenfull.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <div class="nav">
        <ul>
            <li class="block"<a class="block" href="#"><img src="../static/images/64x64.png" class="logo"></img>BlueBook</a></li>
            <li class="search">
                  <div class="container-1">
                      <input type="search" id="search" placeholder="Search..." />
                    </div>
                </li>
            <li class="home"><a class="active" href="#">Read</a></li>
            <li class="about"><a href="#">Write</a></li>
            <li class="messages">
                <div class="dropdown">
                    <div id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                        <i class="glyphicon glyphicon-bell"></i>
                    </div>

                    <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

                        <div class="notification-heading">
                            <h4 class="menu-title">Notifications</h4>
                            <h4 class="menu-title pull-right">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
                        </div>
                        <li class="divider"></li>
                        <div class="notifications-wrapper">

                        </div>
                        <li class="divider"></li>
                        <div class="notification-footer">
                            <h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></div>
                    </ul>

                </div>
            </li>
                <li>
                    <ul>
                        <li>
                          <div class="dropdown user-setting">
                            <div id="usn" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                                <div id="user-setting"></div>
                            </div>

                            <ul class="dropdown-menu user-cc" role="menu" aria-labelledby="usn">
                                    <a class="menu-title" href="#">Profile</a>
                                    <a class="menu-title" href="#">Settings</a>
                                    <a class="menu-title" href="#">Sign Out</a>
                            </ul>
                          </div>
                        </li>
                        <script type="text/babel">
                            class UserSetting extends React.Component { constructor() { super(); } render(){ var {picture, name} = this.props; return(
                            <div>
                                <h1 className="usn-name">{name}</h1>
                            </div>) } } ReactDOM.render(

                            <UserSetting picture="../static/images/riff.jpg" name="Max" />, document.getElementById('user-setting'));
                        </script>
                    </ul>
                </li>
        </ul>
    </div>
    <article>
        <div class="cover">
            <div class="s_art" id="story"></div>
            <script type="text/babel">
                class Prompt extends React.Component { constructor() { super(); } render() { var {title, pic, author, date, text} = this.props; return(
                <div>
                    <h1 className="story_title">{title}</h1>
                    <div className="profile-box">
                        <img className="author_pic img-circular" src={pic} height={24}/>
                        <div className="author_info">
                            <h1 className="author_name">{author}</h1>
                            <h1 className="date">{date}</h1>
                        </div>
                    </div>

                    <p className="story_text">{text}</p>
                </div>) }}; Prompt.propTypes = { title: React.PropTypes.string.isRequired }; Prompt.defaultProps = { title: "Title" }; ReactDOM.render(


                <Prompt title="The Biggest One" text="He house was filled with tears of sadness, joy and laughter. Long hugs, intense and heartfelt kisses, jokes to cheer up the inevitability of a saddened mood. Chris sat on the couch, surrounded by his friends and his family, and he couldn't but smile. The melancholy of the situation weighed on him, and yet there was this feeling that he couldn't shake off. ''If we have to go, then this is a pretty decent way of going.'' The crash of the two planets had been predicted to happen at 5:55AM EST, 25th October 2015. The planet had come in NASA's sights roughly a month ago, and from that moment on everything changed. "
                    author="Max Welton" pic="../static/images/riff.jpg" date="July 17, 2016" />, document.getElementById('story'));
            </script>
          </article>


            <section>
              <div class="cover-comments">
                <div id="rct"></div>
                <script type="text/babel">

                    class LikeButton extends React.Component { constructor() { super(); this.state = { liked: false, follow: false}; this.handleLike = this.handleLike.bind(this); this.handleFollow = this.handleFollow.bind(this); this.handleComment = this.handleComment.bind(this);
                    } handleLike() { this.setState({liked: !this.state.liked}); } handleFollow() { this.setState({follow: !this.state.follow}); } handleComment(){ this.setState({comment: !this.state.comment}); } render() { const textLike = this.state.liked
                    ? 'Unlike' : 'Like'; const textFollow= this.state.follow ? 'Unfollow' : 'Follow'; const textComment = "Comment"; return (
                    <div className="rct-1">
                        <div onClick={this.handleLike} className="like">
                            {textLike}
                        </div>
                        <div onClick={this.handleFollow} className="follow">
                            {textFollow}
                        </div>
                        <div onClick={this.handleComment} className="comment-opening">
                            {textComment}
                        </div>
                    </div>
                    ); } } ReactDOM.render(
                    <LikeButton />, document.getElementById('rct') );
                </script>

                <div id="content"></div>
                <script type="text/babel">

                </script>
              </div>
              </section>

</body>

</html>
