.front { /* stylelint-ignore */

}

.header{
  text-align: left;
  color: black;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  margin: 30px auto 0;
  width: 950px;
  height: auto;
  padding-bottom:40px;
}

.header h1{
  font-weight: lighter;
  text-align: center;
}

.header hr{
  border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.rectangle{
  margin-top: 30px;
  margin-bottom: 25px;
  padding-top: 1px;
  padding-left: 10px;
  height: 65px;
  width: auto;

  background-color: #C4D1D1;
}

.rectangle h1{
  text-align: left;
}

.current{
  display: flex;
  flex-direction: row;
}

.box{
  margin-left: 15px;
  padding-top: 10px;
  text-align: center;
  height: 150px;
  width: 200px;
  border: 1px solid rgba(68, 68, 68, .2);
}

.box h2{
  font-size: 20px;
}

.box h1{
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  margin: 0px;
}
.pic{
  text-align: center;
  margin-top: 10px;
}

.following{
  text-align: left;
  color: black;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  margin: 30px auto 0;
  width: 950px;
  height: auto;
  padding-bottom:40px;
}

.following h1{
  font-weight: lighter;
}

/** Story **/

.story{
  margin-top: 25px;
  padding-left: 15px;
}

.info{
  display: flex;
  flex-direction: row;
}

.info h1 {
  font-size: 20px;
  font-weight: bold;
}

.author h1{
  font-weight: lighter;
  font-size: 20px;
  margin: 0px;
  padding-bottom: 10px;
}

.dashboard_text{
  font-size: 19px;
}
