.promptOfTheDay{
  text-align: center;
}

.selectionBox{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 30px auto auto 0;
  width: 950px;
  height: auto;
  padding-bottom: 70px;
  display: flex;
}

div.p-box{
font-size: 20px;
width: 300px;
height: 300px;
text-align: center;
background-color: rgba(0, 0, 0, 0.7);
border-radius: 69px 69px 69px 69px;
color: #FFF;
order: 1;
padding: 30px;
margin: 20px;
}

.p-box { -webkit-transition: all .4s ease-in-out; }
.p-box:hover { -webkit-transform: scale(1.3); }

.genre{
  width: 300px;
  padding: 30px;
  margin: 20px;
  text-align: center;
}

.wordLimit{
  width: 300px;
  padding: 30px;
  margin: 20px;
  text-align: center;
}

div.more{
  margin-top: 150px;
  display: flex;
  font-size: 32px;
  text-align: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

p.more{
  padding-right: 8px;
}

p.more:hover{
  color: #262626;
}

a.more{
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.fa-arrow-right{
  position: relative;
  top: 3px;
}
