body,html{
  height: auto;
}

section{
}
@font-face {
    font-family: hfont;
    src: url('fonts/FanwoodText.otf');
}
.s_art {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 30px auto 0;
  width: 950px;
  height: auto;
  padding-bottom:20px;
    font-family: hfont;
}
.story_title {
    text-align: center;
    font-size: 46px;
    font-weight: bold;
}
.story_text {
    text-align: left;
    font-family: hfont;
    font-size: 26px;
    margin-left: 24px;
    height: auto;

}
.profile-box {
    margin: 24px;
    margin-top: 2px;
    padding: 6px;
    font-family: Roboto, arial, sans-serif;
    display: flex;
}
.author_name {
    font-size: 16px;
    font-weight: bold;
    width: 337px;
    height: 20px;
    padding-left: 10px;
    margin-top: 3px;
    margin-bottom: 0px;
}
.author_pic {
    font-size: 40px;
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
}
.date {
    font-size: 16px;
    margin-top: 3px;
    margin-left: 10px;
}
.author_info {
    height: 37;
}
#rct {
    display: flex;
    flex-direction: row;
    width: 250px;
}
.like {
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    order: 1;
    border-style: solid;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, .3);
}
.rct-1 {
    display: flex;
    flex-direction: row;
    width: 250px;
    padding-left: 15px;
}
.follow {
    order: 2;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-left: 0;
    border: 1px solid rgba(0, 0, 0, .3);
}
.comment-opening {
    order: 3;
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-left: 0;
    border: 1px solid rgba(0, 0, 0, .3);
    padding-left: 20px;
    padding-right: 20px;
}
.cover {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 30px auto 0;
    width: 950px;
    height: auto;
    padding-bottom: 70px;
    font-family: hfont;
}
.cover-comments{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 30px auto 0;
  width: 950px;
  height: auto;
  padding-bottom: 70px;
  margin-top: 0px;

}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
   width: 170px;
   border-bottom: none;
   height: 50px;
   line-height: 50px;
   font-size: 1.4em;
 }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }


}
.row{
  height: 50px;
}
li.block{
  margin-right: 180px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
  width: 230px;
}

p{
  height: 50px;
  margin: 0;
  padding: 0;
}

.logo{
  z-index: 0;
  height: 50px;
  padding-right: 10px;

}
.move-right a:hover{
  background-color:#444;
}

.usn-layout{
  font-size: 30px;
  line-height: 40px;
  height: 40px;
  padding: 0px;
  padding-top: 3px;
  font-weight: bold;
  z-index: 1;
  position: absolute;
}

.usn-name{
  font-size: 17px;
  color: #FFF;
  padding-left: 70px;
  margin-top: 18px;
}

li.messages{
  width: 10px;
  color: white;
  font-size: 20px;
  z-index: 10;
  position: absolute;
}

h1.usn-name{
  padding-left: 1px;
  width: 0px;
}

#dLabel{
  width: 1px;
  margin-left: 50px;
}

* CSS used here will be applied after bootstrap.css */

.dropdown {
    display:inline-block;
    margin-left:20px;
    padding:10px;
  }


.glyphicon-bell {
    font-size:1.5rem;
    position: relative;
    top: 5px;
  }

.notifications {
   min-width:420px;
  }

  ul.user-cc {
    margin-top: 13px;
     min-width:200px;
  }

  .notifications-wrapper {
     overflow:auto;
      max-height:250px;
    }

 .menu-title {
     color:rgb(56, 151, 240);
     font-size:1.5rem;
      display:inline-block;
      }

.glyphicon-circle-arrow-right {
      margin-left:10px;
   }


 .notification-heading, .notification-footer  {
 	padding:2px 10px;
       }


.dropdown-menu.divider {
  margin:5px 0;
  }

.item-title {

 font-size:1.3rem;
 color:#000;

}

.notifications a.content {
 text-decoration:none;
 background:#ccc;

 }

.notification-item {
 padding:10px;
 margin:5px;
 background:#ccc;
 border-radius:4px;
 }

.dropbtn {
    width: 5px;
     height: 5px;
    cursor: pointer;
    background-color: #444;
    border: none;
    padding: 0;
    border: none;
    outline:none;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.user-setting{
  width: 5px;
}
