.text{
  margin-bottom: 30px;
  height: 100%;
}
.story { /* stylelint-ignore */
  text-align: center;
  color: black;
  background-color: white;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  margin: 30px auto 0;
  height: auto;
  width: 950px;
  padding-bottom:20px;
}


.userInfo{
  text-align: right;
  display: inline;
  border: 1px solid rgba(68, 68,68,.25);

}

.box{
  text-align: left;
  font-size: 16px;
  border: 1px solid rgba(68, 68,68,.25);
  margin: 15px;
  margin-bottom: 40px;
}

.soFar{
  text-align: center;
}

.storyText{
  padding-bottom: 30px;
  height: 500px;
}
